// 美化滚动条
::-webkit-scrollbar {
    block-size: 8px;
    inline-size: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(var(--v-theme-perfect-scrollbar-thumb));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 20%);
        -webkit-transition: background-color 1s linear, box-shadow 1s ease-in-out;
            transition: background-color 1s linear, box-shadow 1s ease-in-out;
}

.v-messages{
    display: flex !important;
    justify-content: flex-start !important;
    text-align: left !important;
}

.v-text-field .v-input__details{
    padding-inline:10px !important
}